* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: url("./images/HeroImage.png");
  width: 1440px;
  height: 100vh;
  background-repeat: 0;
  background-size: cover;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 118px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 17px;
  width: 300px;
  color: aliceblue;
}
.home-1 {
  display: flex;
}

.logo {
  display: flex;
  justify-content: sp;
  width: 500px;

  width: 100px;
}

.lang {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.text {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-start {
  color: #e8edf2b8;
  display: flex;
  font-size: 80px;
}
.text-center {
  color: #fdfdfefa;
  font-size: 250px;
}
.text-end {
  color: white;
  font-size: 64px;
}

.location {
  background-image: url(Location\ image.png);
  height: 512px;
  width: 1440px;
  margin: 0 auto;
}
.tehiin-tsagaan {
  background-image: url(1.png);
  display: flex;
}

.destination {
  height: 370px;
  width: 276px;
  background-image: url("./images/1.png");
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}
